// --------------------------------------------------
// Type

$font-family-base: "SpaceGrotesk", sans-serif !important;

// $headings-font-family: "SpaceGrotesk", sans-serif !important;

* {
  font-family: $font-family-base;
}

// --------------------------------------------------
// Colors

$dark: #000;
$light: #fff;
$primary: #CCEC06;
$body-color: #16111B;
$secondary: #0500FF;
// $light-grey: #A69E9A;
// $grey: #B7ACC3;
$text: #fff;

// --------------------------------------------------
// Links
$link-color: $secondary;
$link-hover-color: $primary;
$link-hover-decoration: none;

// --------------------------------------------------
// Buttons

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1054px,
  xl: 1372px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1024px,
  xl: 1342px,
);