
./assets/bundle.js
./assets/bundle.css
@shopify-assets/bundle.js
@shopify-assets/bundle.css
node_modules/
.DS_Store
.vscode
*.log
# ignore all files inside shopify/assets/ except files with 'static' keyword in their filename
