// ==========================================================================
// ## SHOPIFY STATIC SECTION: FOOTER
// ==========================================================================
#shopify-section-footer {
    background: rgba(56, 47, 65, 0.2);
}

.footer {
    padding: 35px 0 65px;

    @include media-breakpoint-down(sm) {
        padding: 28px 32px;
    }

    input {
        background: rgba(56, 47, 65, 0.2);
    }

    &__content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: baseline;
        gap: 100px;


        @include media-breakpoint-down(sm) {
            display: block;
        }

        .link {
            padding: 5px 0 !important;
        }
    }

    &-block {
        text-align: left;

        &__heading {
            margin-bottom: 16px;
            text-align: left;
        }

        &__details-content {
            @include media-breakpoint-down(sm) {
                margin-bottom: 40px;
            }

            li {
                display: block !important;
                margin-bottom: 6px;
            }
        }
    }

    .field {
        &::after {
            border-radius: 2px !important;
        }

        &__input {
            width: 340px;
            height: 44px;
            border-radius: 2px !important;
            padding: 12px 16px;

            @include media-breakpoint-down(sm) {
                width: 100%;
            }

            &::placeholder {
                display: block !important;
                opacity: 1 !important;
                color: $text;
            }

            &:focus {
                box-shadow: none;

                input::placeholder {
                    display: none !important;
                }
            }
        }

        &__label {
            font-size: 16px;
            line-height: 20px;
            color: $light;
        }
    }

    .newsletter-form__field-wrapper {
        max-width: none;
    }
}

.field__input:focus~.field__label,
.field__input:not(:placeholder-shown)~.field__label {
    top: -2px;
    left: 16px;
}