// ==========================================================================
// ## SHOPIFY STATIC SECTION: HERO
// ==========================================================================

.hero {
    position: relative !important;
    // top: -35px;
    // top: -114px;
    // padding: 0;
    // height: 100vh !important;
    // border: 1px solid red;

    .banner {
        &__content {
            // padding: 0 0 50px !important;
            max-width: none !important;

            padding: 0 !important;
            height: 100vh;
            // border: 1px solid red;
            position: relative;
            // top: -114px;

            @media screen and (max-width: 1400px) {
                // height: auto;
                // position: static;
            }

            @include media-breakpoint-down(lg) {
                // padding: 0 0 100px !important;
            }

            @include media-breakpoint-down(sm) {
                // padding: 20px 0 80px !important;
            }

            @include media-breakpoint-down(xs) {
                // padding: 75px 0 90px !important;
            }
        }

        &__box {
            max-width: none !important;
            padding: 0 !important;

            // position: absolute;
            // top: calc(39% - 250px);
        }

        &__media {
            background: none;

            .js-banner__video {
                display: block;
                object-position: top;
                object-fit: cover;
            }

            .js-banner__video-mobile {
                display: none;
            }
            @media (max-width: 600px) {
                height: 100vh;
                min-height: 100%;

                .js-banner__video {
                    display: none;
                }

                .js-banner__video-mobile {
                    display: block;
                    object-position: center;
                    height: 100vh !important;
                    object-fit: cover;
                }
            }
        }

        &__heading {
            font-size: 124px;
            line-height: 168px;
            max-width: 1200px;
            margin: 0 auto;
            @media screen and (max-width: 1221px) {
                line-height: 138px;
                font-size: 100px; 
            }

            @include media-breakpoint-down(md) {
                font-size: 42px;
                line-height: 54px;
            }

            &-accent {
                color: $primary;
                white-space: nowrap;
            }
        }

        &__form {
            // width: 100%;
            width: 1332px;
            margin: 70px auto 0 !important;

            @media screen and (max-width: 1400px) {
                width: 95%;
            }

            @include media-breakpoint-down(md) {
                margin-top: 10px !important;
            }

            @include media-breakpoint-down(xs) {
                padding: 0 15px;
            }
        }

        &__field {

            &::before,
            &::after {
                content: none;
            }

            @include media-breakpoint-down(md) {
                display: grid;
                gap: 13px;
            }
        }

        &__input {
            padding: 35px 104px;
            margin: 0;
            height: 96px !important;
            border-radius: 2px;

            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
            background: rgba(56, 47, 65, 0.2);

            &:focus {
                box-shadow: none;
            }

            &::placeholder {
                display: block !important;
                opacity: 1 !important;
                color: $text;
            }

            &:focus {
                box-shadow: none;

                input::placeholder {
                    display: none !important;
                }
            }

            @include media-breakpoint-down(xs) {
                height: 126px !important;
                padding: 43px 16px 43px 64px;
            }
        }

        &__icon-search {
            position: absolute;
            top: 28px;
            left: 37px;

            @include media-breakpoint-down(xs) {
                top: 47px;
                left: 16px;

                svg {
                    height: 32px;
                    width: 32px;
                }
            }
        }

        &__label {
            // display: none;

            top: 35px;
            left: 104px !important;
            letter-spacing: 0;
            text-align: left;

            @include media-breakpoint-down(xs) {
                top: 43px;
                left: 64px !important;
                max-width: 260px;
            }
        }

        &__button {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 184px;
            height: 64px;
            background: $secondary;
            border-radius: 2px;

            svg {
                margin-right: 16px;
            }

            @include media-breakpoint-down(md) {
                position: static;
                width: 100%;
            }

            @include media-breakpoint-down(xs) {
                height: 54px;
            }
        }

        &__text-bottom {
            position: absolute;
            bottom: 65px;
            // bottom: -80px;
            width: 100%;
            text-align: center;

            @media screen and (max-width: 1400px) {
                bottom: 0;
            }

            @include media-breakpoint-down(xs) {}

        }
    }

    .field__input:focus~.field__label,
    .field__input:not(:placeholder-shown)~.field__label {
        top: 10px !important;
    }

    &__tutorial {
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        max-width: 480px;
        margin: 0 auto;
        width: 100%;
        min-height: 34px;
        text-decoration: none;
        border-radius: 120px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $text;
        @include media-breakpoint-down(sm) {
            font-size: 11px;
        } 
        & svg {
            margin: 0 10px;
        }
        & span {
            color: $dark;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            background: $text;
            border-radius: 120px;
            display: flex;
            align-items: center;
            padding: 7px 10px;
            @include media-breakpoint-down(sm) {
                font-size: 12px;
            } 
        }
    }
}

.grecaptcha-badge {
    z-index: 10;
    display: none !important;
}

.template-search .hero.js-search-view {
    position: static !important;

    // margin-top: 114px;
    // padding-top: 76px;
    .banner__form {
        margin-top: 114px !important;
        padding-top: 40px !important;

        @include media-breakpoint-down(sm) {
            margin-top: 114px !important;
            padding-top: 16px !important;
        }
    }
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: rgba(56, 47, 65, 0.2);
}

/*Change text in autofill textbox*/
input:-webkit-autofill{
    -webkit-text-fill-color: $light !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}