// ==========================================================================
// ## SHOPIFY STATIC SECTION: HOME COLLECTION
// ==========================================================================

.home-collection {
    position: relative;
    top: -60px;
    // top: -30px;

    @include media-breakpoint-down(lg) {
        top: -30px;
    }

    @include media-breakpoint-down(md) {
        top: 20px;

    }

    .page-width-desktop {
        max-width: 1180px;
    }

    .grid--2-col-desktop .grid__item {
        width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
        max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);

        @include media-breakpoint-down(xs) {
            width: 100%;
            max-width: 100%;
        }
    }
}