// ==========================================================================
// ## SHOPIFY STATIC SECTION: HOME COLLECTION
// ==========================================================================

.home-collection {
    position: relative;
    top: -60px;

    @include media-breakpoint-down(lg) {
        top: -30px;
    }

    @include media-breakpoint-down(md) {
        top: 20px;
    }
}