// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN SEARCH
// ==========================================================================


.template-search {
  .main-page-title {
    display: none;
  }
  .search {
    &__wrapper {
      max-width: 1370px;
      margin: 0 auto;
      padding: 50px 20px;
      position: relative;
      transition: all .5s;
      @include media-breakpoint-down(lg) {
        margin-left: auto;
        padding: 50px 0px 50px 20px;
      }
    }
    &__header {
      margin: 20px 0px 30px 0px;
      @include media-breakpoint-down(sm) {
        padding: 0px 20px 0px 0px;
      }
      & h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        color: $text;
        margin-bottom: 10px;
        @include media-breakpoint-down(sm) {
          font-size: 20px;
          line-height: 26px;
        }
      }
      & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $grey;
      }
    }
    .swiper__append {
      position: absolute;
      top: 50%;
      right: 100px;
      background: rgba(56, 47, 65, 0.2);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
      transform: translateY(-50%);
      @include media-breakpoint-down(sm) {
        right: 20px;
        top: 80%;
      }
      & button {
        padding: 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: $text;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-down(sm) {
          max-width: 176px;
          text-align: left;
        }
        & svg {
          margin-left: 24px;
        }
      }
    }
    .swiper {
      &:after,
      &::after {
        z-index: 1;
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 30%;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(22,17,27,0.8) 35%);
        background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(22,17,27,0.8) 35%);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(22, 17, 27, 0.8) 35%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#16111b",GradientType=1);
      }
    }
    .swiper-slide {
      & img {
        max-width: 80%;
        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }
    }
    .swiper-button-next {
      display: block!important;
    }
    .banner__content {
      padding: 0px!important;
    }
    .banner__input {
      @include media-breakpoint-down(sm) {
        height: 70px!important;
        padding: 33px 16px 23px 64px;
        font-size: 16px;
      }
    }
    .banner__icon-search {
      @include media-breakpoint-down(sm) {
        top: 25px;
      }
    }
    .banner__label {
      @include media-breakpoint-down(sm) {
        top: 28px;
      }
    }
  }

}