// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN PRODUCT
// ==========================================================================
.product-wrapper {
    @include media-breakpoint-down(md) {
        padding-left: 0;
        padding-right: 0;
    }
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.container-fluid .product {

    max-width: 1470px;
    margin: 105px auto 105px !important;

    @include media-breakpoint-down(md) {
        margin: 25px auto 87px !important;
    }

    &__media-wrapper {
        // border: 1px solid red;

        @include media-breakpoint-down(md) {
            margin-bottom: 45px;
            padding-left: 15px !important;
            padding-right: 15px;
        }

        .global-media-settings {
            border: none !important;
        }

        .preview-image {
            position: absolute;
            z-index: 1;
            top: 23%;
            left: 50%;
            object-fit: cover;
            height: 44%;
            width: 35%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }

    &__info-wrapper {
        // border: 1px solid blue;
        padding: 0 0 0 88px !important;

        @include media-breakpoint-down(md) {
            padding: 0 !important;
        }
        

        &.loading .product-form {
            width: 512px;
            position: relative;
            &:after,
            &::after {
                content: 'Hang tight! We are creating unique item, usually it takes around 60 seconds…';
                display: flex;
                flex-direction: column;
                align-items: center;
                align-content: center;
                justify-content: flex-start;
                text-align: center;
                font-family: Assistant, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                padding: 20px 30px;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                z-index: 10;
                background-color: rgba(22, 17, 27, 0.9);
                cursor: wait;
            }
            &:before,
            &::before {
                z-index: 11;
                content: "";
                position: absolute;
                top: 60%;
                left: 50%;
                margin-left: -24px;
                width: 48px;
                height: 48px;
                border: 5px solid #FFF;
                border-bottom-color: transparent;
                border-radius: 50%;
                display: inline-block;
                box-sizing: border-box;
                animation: rotation 1s linear infinite;
            }
        }
    }

    &__title {
        margin-bottom: 24px !important;

        @include media-breakpoint-down(md) {
            margin-bottom: 12px !important;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .price {
        margin-bottom: 48px;

        @include media-breakpoint-down(md) {
            margin-bottom: 25px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &__sale {
            display: flex;
            align-items: center;
        }

        &-item {
            &--sale {
                margin-right: 16px;
            }

            &--regular {
                // position: relative;
                // top: -10px;
                margin-right: 16px !important;
            }
        }

        &__badge-sale {
            border-radius: 2px;
            padding: 2px 16px;
            margin-bottom: 0;
        }
    }

    &__description {
        margin-bottom: 48px;

        @include media-breakpoint-down(md) {
            margin-bottom: 32px;
            padding-left: 15px;
            padding-right: 15px;
        }

        &-title {
            margin-bottom: 8px;
        }
    }

    &-form__input {
        margin-bottom: 48px;

        @include media-breakpoint-down(md) {
            margin-bottom: 32px;
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .form {
            &__label {
                margin-bottom: 16px;
            }

            &__select {
                color: $light;
                // width: 44px;
                // height: 44px;
                font-size: 16px;
                line-height: 20px;
                padding: 12px 15px;
                margin: 0 16px 0 0;
                border-radius: 2px;
                border: 1px solid $grey;
            }
        }

        input[type='radio']:checked+label {
            background-color: $primary;
            color: $body-color;
        }

        input[value=Black]+label {
            position: relative;
            padding: 12px 15px 12px 56px;

            &:before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background: $body-color;
                border-radius: 2px;
                z-index: 1;
                position: absolute;
                top: 10px;
                left: 16px;
            }
        }

        input[value=White]+label {
            position: relative;
            padding: 12px 15px 12px 56px;

            &:before {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background: $light;
                border-radius: 2px;
                z-index: 1;
                position: absolute;
                top: 10px;
                left: 16px;
            }
        }

        .quantity {
            width: 152px;
            height: 44px;
            color: $light;

            &:after {
                border-radius: 2px;
                border: 1px solid $grey;
                box-shadow: none;
            }

            &__button svg {
                width: 32px; 
                height: 32px;
            }
        }
    }

    &-form {
        &__buttons {
            max-width: 512px;
            margin-bottom: 80px;

            @include media-breakpoint-down(md) {
                margin-bottom: 40px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }

        &__submit {
            // background: rgba(56, 47, 65, 0.2);
            // border: 1px solid $primary;
            // box-shadow: 0px 0px 16px rgba(204, 236, 6, 0.4);
            // border-radius: 2px;
            // padding: 11px 0;
            margin-bottom: 24px;
            // height: 64px;

            &::after {
                content: none;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 16px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                & svg {
                    width: 32;
                    height: 32px;
                    margin-right: 10px;
                    & path {
                        fill: #CCEC06;
                    }
                }
            }
        }
    }

    .shopify-payment-button {
        &__button {
            .size--large {
                background: $secondary !important;
                padding: 18px 0 !important;
                max-height: none !important;
                border-radius: 2px;
                padding: 11px 0 !important;

                height: 64px;

                @include media-breakpoint-down(md) {
                    height: 54px;
                    padding: 6px 0 !important;
                }

                span {
                    display: none !important;
                }

                &:hover {
                    background: rgba(5, 0, 255, 0.6) !important;
                }

                &::before {
                    content: '';
                    position: static;
                    display: block;
                    width: 40px;
                    height: 40px;
                    margin-right: 16px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='40' fill='none'%3E%3Cmask id='a' width='41' height='40' x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:alpha'%3E%3Cpath fill='%23D9D9D9' d='M.5 0h40v40H.5z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath fill='%23fff' d='m32.292 14-1.834-4.208-4.291-1.917 4.291-1.833L32.292 2l1.833 4.042 4.25 1.833-4.25 1.917L32.292 14Zm0 23.958-1.834-4.041-4.291-1.875 4.291-1.875 1.834-4.209 1.833 4.209 4.25 1.875-4.25 1.875-1.833 4.041ZM14.792 32l-3.834-8.25-8.375-3.792 8.375-3.75 3.834-8.25 3.833 8.25 8.333 3.75-8.333 3.792L14.792 32Zm0-6.458 1.833-3.834 3.917-1.75-3.917-1.708-1.833-3.833-1.834 3.833-3.916 1.708 3.916 1.75 1.834 3.834Z'/%3E%3C/g%3E%3C/svg%3E");
                    z-index: 1;
                }

                &::after {
                    content: "$34.99 Buy Now!";
                    position: static;
                    display: block;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 26px;
                    color: $light;
                    z-index: 1;
                }
            }
        }

        &__more-options {
            text-transform: capitalize;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-decoration-line: underline;
            color: $grey;
            margin-top: 25px;
        }
    }

    &__accordion {
        max-width: 512px;
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;

        summary {
            padding: 22px 12px !important;
        }

        svg {
            top: calc(50% - 20px);
            height: 40px !important;
            width: 40px;
        }
    }
}

.product_media_modal_container {
    position: relative;
    text-align: center;
    .global-media-settings {
        min-width: 100%;
        width: 100%;
        height: auto;
    }
    .media__bottom-text {
        position: absolute;
        bottom: 24%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $dark;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding: 12px 10px;
        @include media-breakpoint-down(sm) {
            bottom: 0;
        }
        & p {
            @include media-breakpoint-down(sm) {
                font-size: 10px;
            }
        }
    }
}
.product-media-modal__content {
    img.preview-image {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 36%;
        height: auto;
        z-index: 1;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

.product--stacked .product__media-item {
    margin: 20px auto;
    &:last-child {
        max-width: 60% !important;
        @include media-breakpoint-down(sm) {
            max-width: 100% !important;
        }
    }
}

.media__bottom-text {
    display: flex !important;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
    opacity: .8;
    & svg {
        margin-right: 7px;
    }
    & p {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $text;
    }
    @include media-breakpoint-down(sm) {
        display: none !important;
    }
}
.product__media-icon {
    opacity: 1 !important;
}

.container-fluid .product .shopify-payment-button__button .size--large::after {
    content: 'Buy Now With Google Pay';
}