// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN SEARCH
// ==========================================================================

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0.9);
    opacity: 0.7;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.7;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.9);
    opacity: 0.7;
  }
}

.template-search {
  .main-page-title {
    display: none;
  }

  .search {
    &__wrapper {
      // padding: 50px 0px 50px 20px;
      padding: 50px 0px 30px 0px;
      position: relative;
      max-height: 748px;
      transition: all .5s;
      
      &.loading {
        cursor: wait;
        & p {
          opacity: 0.6;
        }
        & p:after {
          font-size: 16px;
          overflow: hidden;
          display: inline-block;
          vertical-align: bottom;
          -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
          animation: ellipsis steps(5,end) 900ms infinite;
          content: "\2026"; /* ascii code for the ellipsis character */
          width: 0px;
          position: absolute;
        }
        &:after,
        &::after {
          content: '';
          pointer-events: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: center;
          justify-content: center;
          text-align: center;
          font-family: Assistant, sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 30px;
          padding: 80px 20px;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          z-index: 10;
          background-color: transparent;
          cursor: wait;
        }
        
        .swiper-slide .preview-image {
          display: block !important;
        }
        .swiper-slide:not(.customized):nth-child(1),
        .swiper-slide.customized + .swiper-slide:not(.customized) {
          cursor: wait !important;
        }
        .swiper-slide:not(.customized):nth-child(1) .preview-image,
        .swiper-slide:not(.customized):nth-child(2) .preview-image,
        .swiper-slide.customized + .swiper-slide:not(.customized) .preview-image,
        .swiper-slide.customized + .swiper-slide:not(.customized) + .swiper-slide:not(.customized) .preview-image {
          background-image: url(https://cdn.shopify.com/s/files/1/0694/9752/0433/files/aisharp.webp?v=1680782705);
        }
      }
      &.unavailable {
        .swiper-slide:nth-last-child(1),
        .swiper-slide:nth-last-child(2),
        .swiper-slide:nth-last-child(3) {
          cursor: wait;
        }
        
        .swiper-slide:nth-last-child(1) img,
        .swiper-slide:nth-last-child(2) img,
        .swiper-slide:nth-last-child(3) img {
          cursor: wait !important;
          pointer-events: none;
        }
        .swiper-slide:nth-last-child(1) .js-get-product-redirect,
        .swiper-slide:nth-last-child(2) .js-get-product-redirect,
        .swiper-slide:nth-last-child(3) .js-get-product-redirect {
          cursor: wait !important;
          pointer-events: none;
        }
        .swiper-slide:nth-last-child(1) .js-get-product-redirect:after,
        .swiper-slide:nth-last-child(2) .js-get-product-redirect:after,
        .swiper-slide:nth-last-child(3) .js-get-product-redirect:after {
          content: 'Wait..';
          position: absolute;
          background: #16111b;
          line-height: 47px;
          width: 97%;
          height: 96%;
        }
      }
      .swiper-slide.customized {
        cursor: pointer;
        padding-bottom: 20px;
        text-align: center;
        .button.js-get-product-redirect {
          visibility: visible;
        }
      }
    }

    &__header {
      max-width: 1379px;
      padding: 0px 20px 20px 20px;
      margin: 0 auto !important;

      @include media-breakpoint-down(sm) {
        padding: 0px 20px 20px 20px;
      }

      & h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        color: $text;
        margin-bottom: 10px;

        @include media-breakpoint-down(sm) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $grey;
      }
    }

    .swiper__append {
      position: absolute;
      top: 50%;
      right: 100px;
      background: rgba(56, 47, 65, 0.2);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
      transform: translateY(-50%);

      @include media-breakpoint-down(sm) {
        right: 20px;
        top: 80%;
      }

      & button {
        padding: 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: $text;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 223px;

        @include media-breakpoint-down(sm) {
          max-width: 176px;
          text-align: left;
        }

        & svg {
          transform-origin: center;
          margin-left: 24px;
        }

        &.loading {
          cursor: wait;

          svg {
            -webkit-animation: pulse 1.8s infinite ease-in-out;
            -o-animation: pulse 1.8s infinite ease-in-out;
            -ms-animation: pulse 1.8s infinite ease-in-out;
            -moz-animation: pulse 1.8s infinite ease-in-out;
            animation: pulse 1.8s infinite ease-in-out;
          }

          opacity: 0.6;
          & span:after {
            font-size: 16px;
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
            animation: ellipsis steps(5,end) 900ms infinite;
            content: "\2026"; /* ascii code for the ellipsis character */
            width: 0px;
            position: absolute;
          }

          @keyframes ellipsis {
            to {
              padding-right: 1.25em;    
            }
          }

          @-webkit-keyframes ellipsis {
            to {
              padding-right: 1.25em;    
            }
          }
        }
      }
    }

    .swiper {
      .button--secondary {
        max-height: 30px;
        min-height: 30px;
        min-width: 90px;
        max-width: 90px;
        margin: 20px auto 0 auto;
        display: block;
        text-align: center;
        &.loading {
          cursor: wait;
          color: white !important;
          opacity: 0.6;
          & span:after {
            font-size: 16px;
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
            animation: ellipsis steps(5,end) 900ms infinite;
            content: "\2026"; /* ascii code for the ellipsis character */
            width: 0px;
            position: absolute;
          }
        }
      }
      &:after,
      &::after {
        z-index: 1;
        // content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 38%;
        right: 0;
        pointer-events: none;
        top: 0;
        bottom: 0;
        background: rgb(255, 255, 255);
        background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(22, 17, 27, 0.8) 35%);
        background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(22, 17, 27, 0.8) 35%);
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(22, 17, 27, 0.8) 35%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#16111b", GradientType=1);
      }
    }

    .swiper-wrapper {
      max-width: 1332px;
      margin: 0 auto;
    }

    .swiper-slide {
      & img {
        object-fit: contain;
        max-width: 80%;
        max-height: initial;
        min-height: auto;
        min-width: 100%;

        @include media-breakpoint-down(sm) {
          width: 100%;
          max-width: 100%;
          min-height: 342px;
          min-width: 342px;
        }   
        @media (max-width: 415px) {
          min-width: 260px;
          min-height: 260px;
          height: auto;
          width: 100%;
        }
      }

      .preview-image {
        background-position: 50% top;
        background-size: contain;
        display: block;
        height: 209px;
        pointer-events: none;
        left: 50%;
        position: absolute;
        top: 40%;
        width: 38%;
        height: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        z-index: 2;
      }

      .button.js-get-product-redirect {
        visibility: hidden;
      }
    }

    .swiper-button-next {
      display: block !important;
    }

    .banner__content {
      height: auto !important;
      padding: 0px !important;
    }

    .banner__input {
      @include media-breakpoint-down(sm) {
        height: 70px !important;
        padding: 33px 16px 23px 64px;
        font-size: 16px;
      }
    }

    .banner__icon-search {
      @include media-breakpoint-down(sm) {
        top: 25px;
      }
    }

    .banner__label {
      @include media-breakpoint-down(sm) {
        top: 28px;
      }
    }

    .show-more {
      max-width: 1379px;
      // padding: 10px 20px 120px 20px;
      margin: 0 auto !important;

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 370px;
        width: 100%;

        & svg {
          margin-right: 16px;
          transform-origin: center;
        }

        &.loading {
          cursor: wait;

          opacity: 0.6;
          & span:after {
            font-size: 16px;
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
            animation: ellipsis steps(5,end) 900ms infinite;
            content: "\2026"; /* ascii code for the ellipsis character */
            width: 0px;
            position: absolute;
          }
          svg {
            -webkit-animation: pulse 1.8s infinite ease-in-out;
            -o-animation: pulse 1.8s infinite ease-in-out;
            -ms-animation: pulse 1.8s infinite ease-in-out;
            -moz-animation: pulse 1.8s infinite ease-in-out;
            animation: pulse 1.8s infinite ease-in-out;
          }
        }
      }
    }
  }

  .hero .banner__form {
    padding-top: 40px;

    @include media-breakpoint-down(sm) {
      margin: 16px auto 0 !important;
      padding-top: 0px;
    }
  }
}
