// ==========================================================================
// ## SHOPIFY STATIC SECTION: MAIN SEARCH
// ==========================================================================


.template-search {
  .main-page-title {
    display: none;
  }

  .search2 {
    &__wrapper {
      padding: 50px 0px 50px 0px;
      position: relative;
      transition: all .5s;
    }

    &__header {
      max-width: 1379px;
      padding: 0px 20px 20px 20px;
      margin: 0 auto !important;

      @include media-breakpoint-down(sm) {
        padding: 0px 20px 20px 20px;
      }

      & h2 {
        font-weight: 700;
        font-size: 26px;
        line-height: 33px;
        color: $text;
        margin-bottom: 10px;

        @include media-breakpoint-down(sm) {
          font-size: 20px;
          line-height: 26px;
        }
      }

      & p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: $grey;
      }
    }

    .swiper__append2 {
      position: absolute;
      top: 50%;
      right: 100px;
      background: rgba(56, 47, 65, 0.2);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 20;
      transform: translateY(-50%);

      @include media-breakpoint-down(sm) {
        right: 20px;
        top: 80%;
      }

      & button {
        padding: 16px;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: $text;
        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 223px;
        @include media-breakpoint-down(sm) {
          max-width: 176px;
          text-align: left;
        }

        & svg {
          margin-left: 24px;
        }
      }
    }

    .swiper-wrapper {
      max-width: 1579px;
      margin: 0 auto;
    }

    .swiper-slide {
      & img {
        max-width: 80%;
        max-height: 520px;

        @include media-breakpoint-down(sm) {
          max-width: 100%;
        }
      }

      &:nth-child(3) {
        opacity: .2;

        @include media-breakpoint-down(sm) {
          opacity: 1;
        }
      }

      &:nth-child(3).show {
        opacity: 1;
      }
    }

    .swiper2-button-next {
      display: block !important;
    }

    .banner__content {
      padding: 0px !important;
      height: auto !important;
    }

    .banner__input {
      @include media-breakpoint-down(sm) {
        height: 70px !important;
        padding: 33px 16px 33px 64px;
        font-size: 16px;
      }
    }

    .banner__icon-search {
      @include media-breakpoint-down(sm) {
        top: 25px;
      }
    }

    .banner__label {
      @include media-breakpoint-down(sm) {
        top: 28px;
      }
    }

    .show-more {
      max-width: 1379px;
      padding: 100px 20px 20px 20px;
      margin: 0 auto !important;

      &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 370px;
        width: 100%;

        & svg {
          margin-right: 16px;
        }
      }
    }
  }

  .hero .banner__form {
    padding-top: 40px;

    @include media-breakpoint-down(sm) {
      margin: 16px auto 0 !important;
      padding-top: 0px;
    }
  }
}