// ==========================================================================
// ## COMPONENT: BUTTON
// ==========================================================================
.btn {
    font-size: 20px;
    line-height: 26px;
    color: $light;
    font-weight: 700;
    border-radius: 2px;
    padding: 11px 0;
    height: 64px;

    @include media-breakpoint-down(md) {
        height: 54px;
    }

    &--primary {
        background: $secondary !important;
        transition: all 0.2s ease-out;

        &:hover {
            background: rgba(5, 0, 255, 0.6) !important;
        }
    }

    &--secondary {
        background: rgba(56, 47, 65, 0.2);
        border: 1px solid $primary;
        box-shadow: 0px 0px 16px rgba(204, 236, 6, 0.2);
        transition: all 0.2s ease-out;

        &:hover {
            background-color: rgba(204, 236, 6, 0.6);
            box-shadow: 0px 0px 16px rgba(215, 248, 2, 0.8);
        }
    } 
}